<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DataBaseContext" connectionString="Data Source=ANTTSQLDEV01;Initial Catalog=BD_ASCOM;User ID=usr_ascom_dev;Password=UbIq1S3OyoyURFin8nUL;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
	<add name="DataBaseContext" connectionString="Data Source=ANTTSQLDEV01;Initial Catalog=BD_EFISCAL;User ID=usr_ascom_dev;Password=UbIq1S3OyoyURFin8nUL;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />	
</connectionStrings>