<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ANTT.Framework.CrossCutting" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.CrossCutting.Logging.NL" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.Domain" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.Integration" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.Integration.SCA" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.Repositories" version="2019.1.8.1" targetFramework="net462" />
  <package id="ANTT.Framework.Repositories.EF" version="2019.1.8.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="NLog" version="4.6.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>